button.primary {
  background-color: #1ed760;
  color: white;
}

button.primary:hover {
  background-color: #4bdf80;
}

button.secondary {
  background-color: white;
  color: white;
  box-shadow: 0 0 0 2px black inset;
}

button.secondary:hover {
  background-color: black;
  color: white;
}
