.card--header {
  text-transform: uppercase;
  border-bottom: 1px solid #dadada;
  padding-bottom: 0.7rem 1rem;
}

.card--footer {
  border-top: 1px solid #dadada;
  padding-bottom: 0.7rem 1rem;
  position: absolute;
  width: 100%;
  bottom: 0;
}
